@model Categoria
@{ ViewData["Title"] = "Detalle categoria"; }
<h2>Detalle categoria</h2>
<dl class="row">
    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10">@Model.Nombre</dd>
    <dt class="col-sm-2">Descripcion</dt>
    <dd class="col-sm-10">@Model.Descripcion</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
